In [65]:
import pandas as pd

In [66]:
titanic = pd.read_csv(r"C:\Users\София\DataProject\lesson9\Titanic.csv")

In [67]:
titanic.PassengerId.count() # Количество пассажиров

891

In [68]:
titanic.Age.mean() # Средний возраст пассажира

29.69911764705882

In [76]:
titanic.Fare.mean() # Средняя стоимость билета

32.204207968574636

In [77]:
titanic.Fare.min() # Минимальная цена билета

0.0

In [78]:
titanic.Fare.max() # Максимальная цена билета

512.3292

In [79]:
# titanic.loc[titanic['Fare'] == titanic.Fare.max()]

In [80]:
titanic.Name[titanic.Fare == titanic.Fare.max()] # Пассажир с максимальной ценой билета

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [81]:
# titanic.loc[titanic['Sex'] == 'male', 'Age'].mean()

In [82]:
titanic.Age[titanic.Sex == "male"].mean() # Средний возраст мужчин

30.72664459161148

In [83]:
# titanic.loc[titanic['Sex'] == 'female', 'Age'].mean()

In [84]:
titanic.Age[titanic.Sex == "female"].mean() # Средний возраст женщин

27.915708812260537

In [85]:
# titanic.loc[titanic['Sex'] == 'male', 'Survived'].mean()

In [86]:
titanic.Survived[titanic.Sex == "male"].mean() # Средний процент выживаемости мужчин

0.18890814558058924

In [87]:
# titanic.loc[titanic['Sex'] == 'female', 'Survived'].mean()

In [88]:
titanic.Survived[titanic.Sex == "female"].mean() # Средний процент выживаемости женщин

0.7420382165605095

In [89]:
titanic.groupby('Pclass')['Fare'].mean() # Средняя стоимость билета в зависимости от класса проживания

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [90]:
titanic['Pclass'].value_counts() # Количество билетов по классам проживания

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [91]:
titanic['Survived'].sum() # Количество выживших пассажиров

342